<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="brand-logo">
        <img class="brand-logo__image" src="/images/brand_logo.png">
    </div>
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/admin/new}" th:object="${signupFormDto}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="mb-3">
            <label for="loginId" class="form-label">사용자ID</label>
            <input type="text" th:field="*{loginId}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('loginId')}" th:errorclass="field-error" th:errors="*{loginId}">
                사용자ID 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('password1')}" th:errorclass="field-error" th:errors="*{password1}">
                비밀번호 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('password2')}" th:errorclass="field-error" th:errors="*{password2}">
                비밀번호 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">사용자 이름</label>
            <input type="text" th:field="*{name}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('name')}" th:errorclass="field-error" th:errors="*{name}">
                사용자 이름 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">사용자 휴대폰 번호</label>
            <input type="text" th:field="*{phoneNumber}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="field-error" th:errors="*{phoneNumber}">
                사용자 휴대폰 번호 오류
            </div>
        </div>
        <div class="mb-3">
            <label for="agree" class="form-label">약관 사항</label>
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option1" name="option1" class="custom-control-input" value="true" th:field="*{agree}">
                        <label class="custom-control-label" for="option1">동의</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="option2" name="option2" class="custom-control-input" value="false" th:field="*{agree}">
                        <label class="custom-control-label" for="option2">비동의</label>
                    </div>
                </div>
            </div>
        <button type="submit" class="float-right button-blue button-outline create">회원가입</button>
    </form>
</div>
</html>