<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <h1 th:text="${store.name}">매장 이름</h1>
    <div class="card">
        <button type="button" class="p-3 btn btn-outline-secondary" th:onclick="|location.href='@{|/${store.serialNumber}/admin/store/management/menu|}'|">
            메뉴 관리 페이지
        </button>
        <button type="button" class="p-3 btn btn-outline-secondary" th:onclick="|location.href='@{|/${store.serialNumber}/admin/store/order|}'|">
            주문 관리 페이지
        </button>
        <button type="button" class="p-3 btn btn-outline-secondary" th:onclick="|location.href='@{|/${store.serialNumber}/admin/store/management|}'|">
            매장 관리 페이지
        </button>
    </div>
</div>
</html>