<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>

    <h2 class="admin-store-name" th:text="${store.name}">매장 이름</h2>
    <div class="admin-index">
        <button type="button" class="p-3 btn btn-outline-secondary" th:onclick="|location.href='@{|/${store.serialNumber}/admin/store/management/menu|}'|">
            메뉴 관리 페이지
        </button>
        <button type="button" class="p-3 btn btn-outline-secondary" th:onclick="|location.href='@{|/${store.serialNumber}/admin/store/order/list|}'|">
            주문 관리 페이지
        </button>
        <button type="button" class="p-3 btn btn-outline-secondary" th:onclick="|location.href='@{|/${store.serialNumber}/admin/store/management|}'|">
            매장 관리 페이지
        </button>
    </div>
</div>
</html>