<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/menu_list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/components/button.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>관리자 메뉴 페이지</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <script th:inline="javascript">
        <!--만약 다른 categoryId값이 들어온다면 해당 div class 속성에 active 주기 -->
        /*<![CDATA[*/
        window.onload = function giveActive() {

            var defaultCategory = document.getElementById("defaultCategory");
            var categoryIdIsNull = /*[[${categoryId}]]*/;

            <!-- 백틱을 사용한 템플릿 리터럴사용-->
            let targetId = `category[[${categoryId}]]`;

            var target = document.getElementById(targetId);
            //새로고침되기 때문에 속성값이 알아서 초기화 된다.

            //넘어온 categoryId값이 null이라면 기본 카테고리 버튼 active
            if(categoryIdIsNull==null) {
                defaultCategory.setAttribute('class', 'list-group-item btn btn-primary active');
            }
            //클릭된 카테고리만 속성 값 부여
            target.setAttribute('class', 'list-group-item btn btn-primary active');
        }
        /*]]>*/
    </script>
</head>
<body>
<div th:replace ="admin_navbar :: admin_navbarFragment"></div>
<div class="top-title">
    <h2>관리자 메뉴판</h2>
    <a th:href="@{|/${storeSN}/admin/store/menu|}">
        <button type="button" class="button-blue button-outline create" >+ 메뉴 추가</button>
    </a>
</div>
<!-- 카테고리 바 -->
<div th:replace="menu/menu_categorybar :: menu_categorybarFragment"></div>

<div th:each="menu : ${menuList}" class="menu-box">
    <img th:src= "@{${menu.imgUrl}}" class="card-img-top" alt="card-grid-image">
    <div class="menu-info">
        <div th:text="${menu.name}"></div>
        <div th:text="${menu.description}">메뉴 설명</div>
        <div th:text="${#numbers.formatInteger(menu.price, 0, 'COMMA')} + '원'">가격</div>
<!--        <h5 th:text="${menu.price} +'원'">가격</h5>-->
<!--        "${#numbers.formatInteger(menu.price, 0, 'COMMA')} + '원'"-->
    </div>
    <div class="menu-button">
        <a onclick="if ( !confirm('메뉴를 수정하시겠습니까?') ) return false;" th:href="@{|/${storeSN}/admin/store/menu/modify/${menu.id}|}" class="button-blue button-outline delete float-right">수정</a>
        <a onclick="if ( !confirm('메뉴를 삭제하시겠습니까?') ) return false;" th:href="@{|/${storeSN}/admin/store/menu/delete/${menu.id}|}" class="button-blue button-outline delete float-right">삭제</a>
    </div>

</div>
</body>
</html>