<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/menu_list.css}">
    <title>고객 메뉴 페이지</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <script th:inline="javascript">
        <!--디폴트 값은 0을 주고, 만약 다른 categoryId값이 들어온다면 해당 div class 속성에 active 주기 -->
        /*<![CDATA[*/
        function giveActive(clicked_id) {
            const isAcitve = 0;
            let elements = document.getElementsByName("category");
            var target = document.getElementById(clicked_id);

            var attrValue = target.getAttribute('class');
            //모든 카테고리 active속성 초기화
            elements.removeAttribute('class', active);

            //클릭된 카테고리만 속성 값 부여
            target.setAttribute('class', active);
        }
        $('.admin-menu').on('click', '.list-group-item', function(clicked_id) {
            giveActive(clicked_id);
        });
        /*]]>*/
    </script>
</head>
<body>
    <h2>고객 메뉴판</h2>
    <div class="admin-menu">
        <form th:action method="post">
        <ul class="list-group list-group-horizontal btn-group">
            <li class="list-group-item btn btn-primary" name="category" th:value="${categoryId}">기본카테고리</li>
            <div th:each="category : ${categoryList}">
                <input type="hidden" th:id="${category.getId()}" name="categoryId" th:value="${category.getId()}">
                <li th:text="${category.name}" name="category" th:value="'category'+${category.getId()}" class="list-group-item btn btn-primary" style=" cursor: pointer;" th:id="'category'+${category.getId()}" th:onclick="|location.href='@{|/${storeSN}/menu/${category.getId()}|}'|">
                카테고리명
            </li>

            </div>
        </ul>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 g-3">
        <div th:each="menu : ${menuList}" class="col" >
            <div th:id="${menu.category.getId()}" style=" cursor: pointer;" th:onclick="|location.href='@{|/${storeSN}/menu/${menu.id}/option|}'|">
                <!-- 메뉴칸 자체에 링크를 걸기. -->

                <!-- S3 img -->
                <img th:src= "@{${menu.imgUrl}}" class="card-img-top" alt="card-grid-image">
                <div class="card-body">
                    <div class="menu-info-top">
                        <h5 th:text="${menu.name}" class="card-title">떡볶이(메뉴명)</h5>
                        <h5 th:text="${menu.price} +'원'" class="card-title">1500원(가격)</h5>
                    </div>
                    <p th:text="${menu.description}" class="card-text">메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.</p>
                </div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>