<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<script th:inline="javascript">
    <!--만약 다른 categoryId값이 들어온다면 해당 div class 속성에 active 주기 -->
    /*<![CDATA[*/
    window.onload = function giveActive() {

        var defaultCategory = document.getElementById("defaultCategory");
        var categoryIdIsNull = /*[[${categoryId}]]*/;

        <!-- 백틱을 사용한 템플릿 리터럴사용-->
        let targetId = `category[[${categoryId}]]`;

        var target = document.getElementById(targetId);
        //새로고침되기 때문에 속성값이 알아서 초기화 된다.

        //넘어온 categoryId값이 null이라면 기본 카테고리 버튼 active
        if(categoryIdIsNull==null) {
            defaultCategory.setAttribute('class', 'list-group-item btn btn-primary active');
        }
        //클릭된 카테고리만 속성 값 부여
        target.setAttribute('class', 'list-group-item btn btn-primary active');
    }
    /*]]>*/
</script>
</head>
<!-- 네비바-->
<div th:replace ="customer_navbar :: customer_navbarFragment"></div>
    <h2 class="customer-page-name">메뉴판</h2>
    <!-- 카테고리 바 -->
    <div th:replace="customer/customer_categorybar :: customer_categorybarFragment"></div>
    <!-- 새롭게 추가한 메뉴판 -->
    <div th:each="menu : ${menuList}" class="customer-menu-box">
        <div class="customer-menu-box__info" th:onclick="|location.href='@{|/${storeSN}/menu/${menu.id}/option|}'|" >
            <img th:src= "@{${menu.imgUrl}}" alt="card-grid-image">
            <div class="customer-menu-info">
                <div style="font-size: 15px" th:text="${menu.name}"></div>
                <div class="customer-menu-info__description" th:text="${menu.description}">메뉴 설명</div>
                <div class="customer-menu-info__price" th:text="'가격 : ' + ${#numbers.formatInteger(menu.price, 0, 'COMMA')} + ' 원'">가격</div>
                <!--        <h5 th:text="${menu.price} +'원'">가격</h5>-->
                <!--        "${#numbers.formatInteger(menu.price, 0, 'COMMA')} + '원'"-->
            </div>
        </div>
<!--        <div class="customer-menu-button">-->
<!--            <div th:id="${menu.category.getId()}" style=" cursor: pointer; font-size: 13px;" th:onclick="|location.href='@{|/${storeSN}/menu/${menu.id}/option|}'|" class="button-blue button-outline delete float-right">주문하기</div>-->
<!--        </div>-->
    </div>
</div>
</html>