<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/menu_list.css}">
    <title>관리자 메뉴 페이지</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<form th:action th:object="${customerMenuForm}" method="post">
            <img th:src= "*{imgUrl}" class="card-img-top" alt="card-grid-image">
            <div style="color: silver;">
            <h5 th:text="*{category}" class="card-title">카테고리</h5>
            </div>
            <br>
    <div class="row row-cols-1 row-cols-sm-2 g-2">
            <div class="card-body">
                <div class="menu-info-top">
                    <h5 th:text="*{name}" class="card-title">떡볶이(메뉴명)</h5>
                    <h5 th:text="*{price} +'원'" class="card-title">1500원(가격)</h5>
                </div>
                <p th:text="*{description}" class="card-text">메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.메뉴 설명부분인 description 이 들어갑니다.</p>
            </div>
    </div>
                <div th:each="optionGroup : *{optionGroups}">
                    <h5 th:text="${optionGroup.name}">옵션그룹이름</h5>
                    <!-- 중복가능여부를 판단하는 로직-->
                    <div th:if="${optionGroup.isMultiple}">
                        <div th:each="optionAndOptionGroup : ${optionGroup.optionAndOptionGroups}">
                            <input type = "checkbox" id="'ignore_'+ ${optionAndOptionGroup.id}"
                                   th:value="${optionAndOptionGroup.options}">
                            <label th:for="ignore" th:text="${optionAndOptionGroup.options.name}">옵션이름</label>
                        </div>
                    </div>
                    <div th:if="${!optionGroup.isMultiple}">
                        <div th:each="optionAndOptionGroup : ${optionGroup.optionAndOptionGroups}" class="form-check form-check-inline">
                            <input type="radio" th:id="'ignore_'+ ${optionAndOptionGroup.getId()}" th:name="${optionAndOptionGroup.optionGroup.id}"
                                   th:value="${optionAndOptionGroup.options}" class="form-check-input">
                            <label th:for="${optionAndOptionGroup.Id}" th:text="${optionAndOptionGroup.options.name}" class="form-check-label">옵션이름</label>
                        </div>
                    </div>
                    <br/><br/><br/>
                </div>
    <button type="submit" class="float-end btn btn-info btn-sm my-2">장바구니 담기</button>
</form>
</body>
</html>