<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/orderDetail_list.css}">
    <title>주문내역 상세 페이지</title>
</head>
<body>
<h2>주문 내역 상세</h2>
<br>
<br>
<br>
<div>
    <p th:text="${findOrder.userNickName}" class="order-head">결제자 이름</p>
    <h3 th:text="${#numbers.formatInteger(findOrder.totalPrice, 0, 'COMMA')} + '원'" class="price">전체가격</h3>
    <hr size="30" noshade>
    <ul class="list-group list-group-flush">
        <li class="list-group-item listDesc">
            <div class="listDesc">주문 일시</div>
            <div class="listValue"th:text="${findOrder.orderedAt}"></div>
        </li>
        <li class="list-group-item listDesc">
            <div class="listDesc">주문 타입</div>
            <div class="listValue"th:text="${findOrder.orderType.getDescription()}"></div>
        </li>
        <li class="list-group-item listDesc">
            <div class="listDesc">주문 상태</div>
            <div class="listValue"th:text="${findOrder.orderStatus}"></div>
        </li>
        <li class="list-group-item listDesc">
            <div class="listDesc">결제 방식</div>
            <div class="listValue"th:text="${findOrder.payType.getDescription()}"></div>
        </li>
        <li class="list-group-item listDesc">
            <div class="listDesc">결제 상태</div>
            <div class="listValue"th:text="${findOrder.payStatus.getDescription()}"> </div>
        </li>
        <li class="list-group-item">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">요구 사항</h5>
                    <p class="card-text" th:text="${findOrder.requests}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>