<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<div th:replace ="admin_navbar :: admin_navbarFragment"></div>
<div>
    <div class="page-name-head">
        <h2 class="admin-page-name">매출 관리 목록</h2>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                정렬방법
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{|/${storeSN}/admin/store/management/revenue/price|}">매출</a></li>
                <li><a class="dropdown-item" th:href="@{|/${storeSN}/admin/store/management/revenue/user|}">이용자수</a></li>
            </ul>
        </div>
        <hr size="30" noshade>
    </div>
</div>
</div>
</html>