<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/cart_list.css}">
    <title>장바구니 페이지</title>
</head>
<body>
<div th:replace ="customer_navbar :: customer_navbarFragment"></div>
<h2>장바구니 details</h2>
<div>
    <img th:src="${cartDetailDto.imgUrl}" class="card-img-top" alt="card-grid-image">
    <h3>장바구니 속성</h3>
    <hr/>
    <h5 th:text="${cartDetailDto.name}" class="card-title">메뉴명</h5>
    <h5 th:text="${cartDetailDto.description}" class="card-title">상세보기</h5>
    <h5 th:text="${cartDetailDto.price} +'원'" class="card-title">가격</h5>
    <h5 th:text="${cartDetailDto.count} +'개'" class="card-title">갯수</h5>
    <br/>
    <h3>선택한 옵션</h3>
    <hr/>

    <div th:each="optionGroup : ${cartDetailDto.optionGroups}" class="form-check">
        <h5 th:text="${optionGroup.name}">옵션그룹이름</h5>
        <hr/>
        <div th:each="optionAndOptionGroup : ${optionGroup.optionAndOptionGroups}">
            <div th:if="${#lists.contains(cartDetailDto.checkOptions, optionAndOptionGroup.option)}">
                <span th:text="${optionAndOptionGroup.option.name}"></span>
                <span th:text="${optionAndOptionGroup.option.price}+'원'"></span>
            </div>
        </div>
        <br/><br/><br/>
    </div>
</div>
</body>
</html>