<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/cart_list.css}">
    <title>장바구니 페이지</title>
</head>
<body>
<h2>장바구니 페이지</h2>
<div class="row row-cols-1 row-cols-sm-2 g-3">
    <div th:each="cart : ${cartList}" class="col" th:onclick="|location.href='@{|/${storeSN}/cart/detail/${cart.id}|}'|">
        <div class="card" >
            <img th:src="${cart.menu.imgUrl}" class="card-img-top" alt="card-grid-image">
            <div class="card-body">
                <div class="cart-info-top">
                    <h5 th:text="${cart.menu.name}" class="card-title">메뉴명</h5>
                    <h5 th:text="${cart.menu.price} +'원'" class="card-title">가격</h5>
                    <h5 th:text="${cart.count} +'개'" class="card-title">갯수</h5>
                </div>
                <div class="cart-info-button">
                    <a onclick="if ( !confirm('메뉴를 수정하시겠습니까?') ) return false;" th:href="@{|/${storeSN}/cart/modify/${cart.id}|}" class="btn btn-primary">수정</a>
                    <a onclick="if ( !confirm('메뉴를 삭제하시겠습니까?') ) return false;" th:href="@{|/${storeSN}/cart/delete/${cart.id}|}" class="btn btn-danger">삭제</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>