<div th:fragment="admin_navbarFragment" class="admin-navbar">
<nav class="navbar bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-light" th:onclick="|location.href='@{|/${storeSN}/admin/store|}'|">주문의 미학</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">주문의 미학</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:onclick="|location.href='@{|/${storeSN}/admin/store|}'|">관리자메뉴로 돌아가기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{|/${storeSN}/admin/store/menuList|}'|">메뉴목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{|/${storeSN}/admin/store/categoryList|}'|">카테고리목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{|/${storeSN}/admin/store/optionGroupList|}'|">옵션그룹목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{|/${storeSN}/admin/store/optionList|}'|">옵션목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{|/${storeSN}/admin/store/order/list|}'|">주문상태목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{|/${storeSN}/admin/store/management|}'|">매장관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:onclick="|location.href='@{/admin/logout}'|">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</div>