<!-- 관련 Namespace 선언 및 layout: decorate 추가 -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>Customer 로그인</h4>
        </div>
    </div>
    <form th:action="@{/customer}" th:object="${customerCreateForm}" method="post">
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임 입력</label>
            <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력해주세요.">
        </div>
        <button type="submit" class="btn btn-primary">완료</button>
    </form>
</div>

</html>