<!doctype html>
<!-- layout 관련 namespace 추가 선언 -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <title>qbp</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<th:block layout:fragment="content"></th:block>
</body>
</html>