<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
    <div class="page-name-head">
        <h2 class="admin-page-name">옵션 그룹 수정</h2>
    </div>
    <form th:action th:object="${optionGroupFormDto}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="my-2">
            <label class="form-label admin-label-name">옵션 그룹명</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="옵션그룹명을 입력해주세요.">
        </div>
        <div class="form-group my-4">
            <label class="form-label admin-label-name">옵션 다중 선택 여부</label>
            <div>
                <input type="radio" style="margin-right: 10px" th:value=true th:field="${optionGroupFormDto.isMultiple}" >옵션 여러 개 선택 가능
                <input type="radio" style="margin-left: 5%; margin-right: 10px" th:value=false th:field="${optionGroupFormDto.isMultiple}" >옵션 하나만 선택 가능
            </div>

        </div>
        <input onclick="if ( !confirm('옵션 그룹을 수정하시겠습니까?') ) return false;" type="submit" value="수정하기" class="button-blue button-outline create float-right" style="width: 15%; margin: auto;">
    </form>
</div>
</html>
