<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/optionGroup_detail.css}">
    <title>관리자 옵션 그룹 상세 페이지</title>
</head>
<body>
<div>
    <h2 th:text="${optionGroupName}">옵션 그룹 상세명</h2>
</div>
<div class="mb-3" th:object="${OptionGroupDetailDto}">
    <label class="form-label">옵션 선택</label>
    <select th:field="*{optionId}" class="form-select">
        <option value="">==옵션 선택==</option>
        <option th:each="option : ${options}" th:value="${option.id}" th:text="${option.name}">카테고리옵션</option>
    </select>
</div>
<a th:href="@{|/${storeSN}/admin/store/optionGroupDetail/${optionGroupId}|}">
    <button type="button" class="btn btn-primary">옵션 추가</button>
</a>

<div th:each="option : ${optionList}" class="list-group mt-3">
    <div href="#" class="list-group-item list-group-item-action option-group" aria-current="true">
        <div>
            <div th:text="${option.name}">첫 번째 옵션명</div>
            <div th:text="${option.price}">1000 원</div>
        </div>
        <div>
            <button type="button" class="btn btn-danger">삭제</button>
        </div>
    </div>
</div>
</body>
</html>