<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<div th:replace ="admin_navbar :: admin_navbarFragment"></div>
<div>
    <h2 th:text="${optionGroupName}">옵션 그룹 상세명</h2>
</div>
<form th:action th:object="${OptionGroupDetailDto}" method="post">
    <label class="form-label">옵션 선택</label>
    <select th:field="*{optionId}" class="form-select">
        <option value="">==옵션 선택==</option>
        <option th:each="option : ${options}" th:value="${option.id}" th:text="${option.name}">카테고리옵션</option>
    </select>
    <input class="button-blue button-outline create my-2" onclick="if ( !confirm('옵션을 추가하시겠습니까?') ) return false;" type="submit" value="옵션 추가">
</form>

<hr/>
<div th:each="option : ${optionList}" class="list-group my-6">
    <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
        <div>
            <div th:text="${option.name}">첫 번째 옵션명</div>
            <small style="color:rgba(224,102,102)"; th:text="${option.price} +'원'">1000 원</small>
        </div>
        <div class="pt-2">
            <button th:onclick="|location.href='@{|/${storeSN}/admin/store/optionGroupDetail/delete/${optionGroupId}/${option.id}|}'|" type="button" class="button-blue button-outline delete">삭제</button>
        </div>
    </li>
</div>
</div>
</body>
</html>