<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<div th:replace ="admin_navbar :: admin_navbarFragment"></div>
<div class="option-head">
    <h2 th:text="${store.name}">매장 이름</h2>
    <a th:href="@{|/${storeSN}/admin/store/category|}">
        <button type="button" class="button-blue button-outline create" >+ 카테고리추가</button>
    </a>
</div>

<div class="list-group" th:each="l : ${list}">
    <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
        <div class="option-info d-flex w-100">
            <div>
                <h5 class="mb-1" th:text="${l.name}">카테고리명</h5>
            </div>
            <div>
                <a onclick="if ( !confirm('옵션을 삭제하시겠습니까?') ) return false;" th:href='@{|/${storeSN}/admin/store/category/delete/${l.id}|}' class="button-blue button-outline delete float-right">삭제</a>
                <a th:href="@{|/${storeSN}/admin/store/category/modify/${l.id}|}" class="button-blue button-outline delete float-right">수정</a>
            </div>
        </div>
    </li>
</div>
</div>
</html>