<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
        <div>
            <form class="cate_form" method="POST" th:action="@{''}" th:object="${categoryForm}">
                <input class="cate" name="name" th:field="*{name}" type="text">
                <div th:fragment="formErrorsFragment" class="alert alert-danger" role="alert"
                     th:if="${#fields.hasAnyErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                </div>
                <input type="submit" style="width: 15%; margin: auto;" value="수정하기">
            </form>
        </div>
    </mid>
</div>
</html>