<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
    <h5 class="my-3 border-bottom pb-2">카테고리 수정</h5>
        <div>
            <form class="cate_form" method="POST" th:action="@{''}" th:object="${categoryForm}">
                <input class="cate" name="name" th:field="*{name}" type="text">
                <div th:fragment="formErrorsFragment" class="alert alert-danger" role="alert"
                     th:if="${#fields.hasAnyErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                </div>
                <input class="button-blue button-outline delete float-right" type="submit" value="수정하기">
            </form>
        </div>
    </mid>
</div>
</html>