<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>

    <div class="card">
    <div th:text="${cate.id}"></div>
    <div class="h2" th:text="${cate.name}"></div>
    </div>
    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{|/${storeSN}/admin/store/category/modify/${id}|}'|">수정하기
    </button>
    <button type="button" class="btn btn-danger" onclick="if (!(confirm('정말 삭제하시겠습니까 ?'))) return false;" th:onclick="|location.href='@{|/${storeSN}/admin/store/category/delete/${id}|}'|">삭제하기</button>
    <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{|/${storeSN}/admin/store/categoryList|}'|">목록으로</button>
</div>
</body>
</html>
