<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}">
<body>
<div layout:fragment="content" class="container my-3">
    <a th:href="@{|/${storeSN}/admin/store/category/modify/${id}|}">
    <div th:text="${cate.id}"></div>
    <div th:text="${cate.name}"></div>
    </a>
    <a onclick="if (!(confirm('정말 삭제하시겠습니까 ?'))) return false;" th:href="@{|/${storeSN}/admin/store/category/delete/${id}|}">삭제하기</a>
    <a th:href="@{|/${storeSN}/admin/store/categoryList|}">목록으로</a>
</div>
</body>
<script>
    $(".d").click(function (){alert('클릭')});
</script>
</html>
