<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
        <h5 class="admin-page-name">카테고리 추가</h5>
        <div>
            <form class="cate_form" method="POST" th:action="@{''}" th:object="${categoryForm}">
                <input class="cate" th:field="*{name}" type="text" placeholder="카테고리를 입력하세요.">
                <div th:fragment="formErrorsFragment" class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}" style="margin-top: 10px;">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                </div>

                <input type="submit" class="button-blue button-outline create float-right" style="width: 15%; margin: auto;" value="추가하기">
            </form>
        </div>
    </mid>
</div>
</html>