<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
    <h5 class="my-3 border-bottom pb-2">옵션 추가하기</h5>
    <form th:action th:object="${optionForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">옵션명</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="옵션명을 입력해주세요.">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">가격</label>
            <input type="number" th:field="*{price}" class="form-control" >
        </div>
        <input onclick="if ( !confirm('옵션을 추가하시겠습니까?') ) return false;" type="submit" value="옵션 추가" class="btn btn-primary my-2">
    </form>
</div>
</html>
