<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
    <div class="page-name-head">
        <h2 class="admin-page-name">옵션 수정</h2>
    </div>
    <form th:action th:object="${optionForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="name" class="form-label admin-label-name">옵션명</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="옵션명을 입력해주세요.">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label admin-label-name">가격</label>
            <input type="number" th:field="*{price}" class="form-control" >
        </div>
        <input onclick="if ( !confirm('옵션을 수정하시겠습니까?') ) return false;" type="submit" value="수정하기" class="button-blue button-outline create float-right" style="width: 15%; margin: auto;">
    </form>
</div>
</html>
