<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/option_list.css}">
    <title>관리자 옵션 관리 페이지</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="option-head">
    <h2>옵션 관리</h2>
    <a th:href="@{|/${storeSN}/admin/store/option|}">
        <button type="button" class="btn btn-primary" >+ 옵션추가</button>
    </a>
</div>

<div class="list-group" th:each="option : ${options}">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="option-info d-flex w-100">
            <div>
                <h5 class="mb-1" th:text="${option.name}">옵션명</h5>
                <small th:text="${option.price} +'원'">옵션가격</small>
            </div>
            <div>
                <a th:href="@{|/${storeSN}/admin/store/option/modify/${option.id}|}" class="btn btn-primary">수정</a>
                <a onclick="if ( !confirm('옵션을 삭제하시겠습니까?') ) return false;" th:href="@{|/${storeSN}/admin/store/option/delete/${option.id}|}" class="btn btn-danger">삭제</a>
            </div>

        </div>
    </li>
</div>
</body>
</html>