<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
    <div class="page-name-head">
        <h2 class="admin-page-name">주문 내역 상세</h2>
    </div>
    <div class="order_main_box">
        <div class="menu_number h3" th:text="${order.getUserNickname}+'님 주문'"></div>

        <div th:each="cart : ${cartListDto.cartDtos}">
            <div class="my-2">

                <div class="name" th:text="${cart.menu.name}+'x'+${cart.count}"></div>
                <ui class="list-group list-group-flush" th:each="option : ${cart.options}">
                    <li class="list-group-item">
                        <span th:text="'- '+ ${option.name}" class="card-title"></span>
                    </li>
                </ui>
            </div>
            <div style="border-top-color: rgba(0,0,0,0.5); border-top: 1px solid"></div>
        </div>

        <form class="detail_status" method="POST" th:action="@{|/${order.storeSerialNumber}/admin/store/order/modify/${order.id}|}">
            <div class="form-check">
                <input class="choice" type="radio" name="orderStatus" value="BEFOREORDER"><span class="font">주문접수전</span>
                <input class="choice" type="radio" name="orderStatus" value="ACCEPTIONORDER"><span class="font">주문접수중</span>
                <input class="choice" type="radio" name="orderStatus" value="COOKING"><span class="font">조리중</span>
                <input class="choice" type="radio" name="orderStatus" value="COMPLETE"><span class="font">조리완료</span>

            </div>
            <input type="submit" class="button-blue button-outline create" value="변경">
        </form>
    </div>
</div>
</body>
</div>
</html>