<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
    <h5 class="my-3 border-bottom pb-2">주문 상태 목록</h5>
    <div style="margin: 20px 0">
        <div class="status">주문 접수 전</div>
        <div class="ad" th:each="o : ${orderList}">
            <div th:if="${o.orderStatus.toString().equals('BEFOREORDER')}" class="order_box">
                <a th:href="@{|/${storeSN}/admin/store/order/detail/${o.id}|}"><h1 th:text="${o.id}+'번 주문'"></h1></a>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px">
        <div class="status">주문 접수 중</div>
        <div class="ad" th:each="o : ${orderList}">
            <div th:if="${o.orderStatus.toString().equals('ACCEPTIONORDER')}" class="order_box">
                <a th:href="@{|/${storeSN}/admin/store/order/detail/${o.id}|}"><h1 th:text="${o.id}+'번 주문'"></h1></a>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px" >
        <div class="status">조리중</div>
        <div th:each="o : ${orderList}">
            <div th:if="${o.orderStatus.toString().equals('COOKING')}" class="order_box">
                <a th:href="@{|/${storeSN}/admin/store/order/detail/${o.id}|}"><h1 th:text="${o.id}+'번 주문'"></h1></a>
            </div>
        </div>
    </div>
</div>
<script>

    setTimeout(function(){
        location.reload();
    }, 10000);

</script>
</html>
