<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div th:replace ="admin_navbar :: admin_navbarFragment"></div>
    <div th:text="${storeName}"></div>
    <div>
        <form th:action th:object="${orderFormDto}" method="POST">
            <textarea th:field="*{requests}" cols="30" rows="5"/>

            <div th:each="type : ${payTypes}">
                <div>
                    <input type="radio" th:field="*{payType}" th:value="${type.name()}" class="form-check-input"/>
                    <label th:for="${#ids.prev('payType')}" th:text="${type.description}" class="form-check-label"></label>
                </div>
            </div>
            <div>
                <span>결제 금액 : </span>
                <span th:text="${totalPrice} + ' 원'"></span>
            </div>
            <input type="submit" th:value="${totalPrice} + '결제하기'"/>
        </form>
    </div>
</div>
</html>