@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}
body {
    margin-top : 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.card {

}
.card img {
    width : auto;
    height : 300px;

}
.cart-info-top {
    display : flex;
    justify-content : space-between;
    margin-bottom : 10px;
}
.card-body {
    height : 220px;

}
.cart-info-button {
    margin-top: 80px;
    display : flex;
    justify-content : space-between;
    align-items: flex-end;
    width: 100%;
}
.admin-cart {
    display: flex;
}
.customer-navbar nav{
    display: flex;
    position: relative;
    border-radius: 5px;
}

/* cart_list 새롭게 추가된 내용 */
.cart-box {
    background-color : rgba(207,226,243, 0.5);
    /*box-shadow: 6px 6px 1px 1px rgba(61, 139 ,253, .3);*/
    border-radius : 20px;
    display : flex;
    padding : 10px;
    width : 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cart-info {
    padding-top : 5px;
    display : flex;
    flex-direction :column;
    margin-left : 15px;
    width : 70%;
}
.cart-info div:first-child {
    font-size: 18px;
}
.cart-info div:nth-child(2) {
    word-break : break-all;

}
.cart-info div:last-child {
    color : rgba(224,102,102);
}
.cart-info span {
    margin-right: 20px;
}

.cart-button {
    display : flex;
    justify-content: flex-end;
    float: right;
    bottom: 15px;
}
.cart-button a{
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 6px;
}

.cart-box img {
    display: block;
    display: flex;
    align-items: center;
    width : 100px;
    height : 100px;
    border-radius : 10px;

}
.cart-option {
    font-size: 18px;
}
.cart-menu-price {

    float: right;
}
.cart-menu-count {
    float: right;
}
.cart-red-name {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    float: right;

}

.order-type {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
}
.order-type__item {

    margin-right: 15px;
}
.cart-total-price {
    font-size: 25px;
    font-weight: 700;
}

.cart-info__text {
    display: flex;
    flex-direction: column;
}
.cart-info__price {
    display: flex;
    flex-direction: column;
}
.cart-price {
    float : right;
}
.cart-option-name {
    font-size : 15px;
}