@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}
body {
    margin-top : 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.card {
}
.card img {
    width : auto;
    height : 300px;

}
.menu-info-top {
    display : flex;
    justify-content : space-between;
    margin-bottom : 10px;
}
.card-body {
    height : 220px;

}
.menu-info-button {
    margin-top: 80px;
    display : flex;
    justify-content : space-between;
    align-items: flex-end;
    width: 100%;
}
.admin-menu {
    display: flex;
}
icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;

}

.customer-navbar nav{
    display: flex;
    position: relative;
    border-radius: 5px;
}
.admin-navbar nav{
    display: flex;
    position: relative;
    border-radius: 5px;

}
.top-title {
    display: flex;
    justify-content: space-between;
}
.category {
    flex-wrap: wrap;
}


/* 새롭게 추가한 관리자 메뉴판 css */
.menu-box {
    background-color : rgba(207,226,243, 0.5);
    /*box-shadow: 6px 6px 1px 1px rgba(61, 139 ,253, .3);*/
    border-radius : 20px;
    display : flex;
    padding : 15px;
    width : 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu-info {
    padding-top : 5px;
    display : flex;
    flex-direction :column;
    margin-left : 15px;
    width : 70%;
}
.menu-info div:first-child {
    font-size: 23px;
}
.menu-info div:nth-child(2) {
    word-break : break-all;

}
.menu-info div:last-child {
    color : rgba(224,102,102);
}

.menu-button {
    position : relative;
    display : flex;
    position: absolute;
    right : 20px;
    bottom: 15px;
}
.menu-button a{
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 6px;

}

.menu-box img {
    display: block;
    display: flex;
    align-items: center;
    width : 200px;
    height : 200px;
    border-radius : 10px;

}
