.card {
    width: 100%;
}
.card img {
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.modify-img {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
#preview{
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.menu-info-top {
    display : flex;
    justify-content : space-between;
    margin-bottom : 10px;
}
.menu-info-top-edit {
    display : flex;
    justify-content : space-between;
    margin-bottom : 10px;
    width: 100%;
}

.menu-info-button {
    margin-top: 80px;
    display : flex;
    justify-content : space-between;
    align-items: flex-end;
    width: 100%;
}
.admin-menu {
    display: flex;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}


.customer-navbar nav{
    display: flex;
    position: relative;
    border-radius: 5px;
}
.admin-navbar nav{
    display: flex;
    position: relative;
    border-radius: 5px;

}
.top-title {
    display: flex;
    justify-content: space-between;
}
.category {
    flex-wrap: wrap;
}

hr {
    width: 100%;
}
/* 새롭게 추가한 관리자 메뉴판 css */
.menu-box {
    background-color : rgba(207,226,243, 0.5);
    /*box-shadow: 6px 6px 1px 1px rgba(61, 139 ,253, .3);*/
    border-radius : 20px;
    display : flex;
    padding : 15px;
    width : 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu-info {
    padding-top : 5px;
    display : flex;
    flex-direction :column;
    margin-left : 15px;
    width : 100%;
    position: relative;
}
.menu-info__price {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
}


.menu-info div:first-child {
    font-size: 25px;
}
.menu-info div:nth-child(2) {
    word-break : break-all;
    font-size : 15px;

}
.menu-info div:last-child {
    color : rgba(224,102,102);
}

.menu-button {
    display : flex;
    position: absolute;
    right : 20px;
    bottom: 15px;
}
.menu-button a{
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 6px;

}

.menu-box img {
    display: block;
    display: flex;
    align-items: center;
    width : 200px;
    height : 200px;
    border-radius : 10px;

}

/* 새롭게 추가한 소비자 메뉴판 css */
.customer-menu-box {
    background-color : rgba(207,226,243, 0.5);
    /*box-shadow: 6px 6px 1px 1px rgba(61, 139 ,253, .3);*/
    border-radius : 20px;
    display : flex;
    flex-direction: column;
    padding : 12px 12px;
    width : 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.customer-menu-info {
    padding-top : 5px;
    display : flex;
    flex-direction :column;
    width: 60%;
    position: relative;
}
.customer-menu-info div:first-child {
    font-size: 19px;
    margin-bottom: 5px;
}
.customer-menu-info div:nth-child(2) {
    word-break : break-all;

}
.customer-menu-info div:last-child {
    color : rgba(224,102,102);
}

.customer-menu-info__price {
    font-size: 13px;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.customer-menu-button {
    display : flex;
    justify-content: flex-end;
}
.customer-menu-button a{
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 6px;

}

.customer-menu-box img {
    display: block;
    display: flex;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-right: 7px;
}
.count {
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    align-items: center;

}
.customer-menu-box__info {
    display: flex;
}
.customer-menu-info__description {

    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: normal;
    line-height: 1.2;
    height: 4.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 11px;
}
