@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}
body {
    margin-top : 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}
a {
    text-decoration:none
}
.option-head {
    display : flex;
    justify-content : space-between;
}
.option-group {
    display :flex;
    justify-content : space-between;
}
.payStatus{
    display : flex;
    justify-content : flex-start;
    margin-top : 25px;
    align-items: flex-end;
    color: red;
}
.button-group {

}
