.option-info {
    display :flex;
    justify-content : space-between;
}
.page-name-head {
    margin-top : 10px;
    margin-bottom: 20px;
    display : flex;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    justify-content : space-between;
}
.admin-navbar nav{
    display: flex;
    position: relative;
    border-radius: 5px;
}