@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}

body {
    margin-top : 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
h2 {
    margin-bottom : 30px;
}
.option-info {
    display :flex;
    justify-content : space-between;
}
.option-head {
    display : flex;
    justify-content : space-between;
}
.admin-navbar nav{
    display: flex;
    position: relative;
    border-radius: 5px;
}