.main{
    text-align: center;
}
.status{
    margin:auto;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.6);
}
.order_box{
    background-color: #9cc4ff;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}
.order_font{
    color: black;
}