@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding:0;
}

/* 화면 전체 렙 */
.wrapper{
    width: 100%;
}

/* content 랩 */
.wrap{
    width : 800px;
    margin: auto;
}
/* 페이지 제목 */
.subject{
    width: 100%;
    height: 120px;
    background-color: #8EC0E4;
}
.subject span{
    margin-left: 31px;
    font-size: 80px;
    font-weight: 900;
    color: white;
}

/* 아이디 영역 */
.id_wrap{
    width: 100%;
    margin-top: 20px;
}
.id_name{
    font-size: 25px;
    font-weight: bold;
}
.id_input_box{
    border: 1px solid black;
    height:31px;
    padding: 10px 14px;

}
.id_input{
    width:100%;
    height:100%;
    border:none;
    font-size:28px;
}
.id_wrap>span {
    color: red;
}
/* 중복아이디 존재하지 않는경우 */
.id_input_re_1{
    color : green;
    display : none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2{
    color : red;
    display : none;
}

/* 가입하기 버튼 */
.join_button_wrap{
    margin-top: 40px;
    text-align: center;
}
.join_button{
    width: 100%;
    height: 80px;
    background-color: #6AAFE6;
    font-size: 40px;
    font-weight: 900;
    color: white;
}

/* 유효성 검사 문구 */

.final_id_ck{
    display: none;
}

/* float 속성 해제 */
.clearfix{
    clear: both;
}